<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mb.fw.policeminwon.web.mapper.ViewBillingDetailMapper">

	<select id="selectBillingDetailByElecPayNo"
		resultType="ViewBillingDetailEntity" parameterType="String">
		select ELEC_PAY_NO AS elecPayNo,
		RESERVE_FIELD1 AS reserveField1,
		RANDOM_VAL AS randomVal,
		RESERVE_FIELD2 AS reserveField2,
		MEMBER_TYPE AS memberType,
		MEMBER_REG_NO AS memberRegNo,
		MEMBER_BIZ_NO AS memberBizNo,
		RESERVE_FIELD3 AS reserveField3,
		MEMBER_NAME AS memberName,
		RESERVE_FIELD4 AS reserveField4,
		OBLIGOR_REG_NO AS obligorRegNo,
		PAYER_NO AS payerNo,
		FEE_TYPE AS feeType,
		COLLECTOR_NAME AS collectorName,
		COLLECTOR_ACCOUNT_NO AS collectorAccountNo,
		SUB_ACCOUNT AS subAccount,
		PAY_AMOUNT_IN_DUE AS payAmountInDue,
		PAY_AMOUNT_AFTER_DUE AS payAmountAfterDue,
		ITEM_CODE AS itemCode,
		FISCAL_YEAR AS fiscalYear,
		PAY_DUE_DATE_IN AS payDueDateIn,
		PAY_DUE_DATE_AFTER AS payDueDateAfter,
		TAX_REASON_DATE AS taxReasonDate,
		VIOLATION_DATE AS violationDate,
		VIOLATION_LOCATION AS violationLocation,
		VIOLATION_CONTENT AS violationContent,
		VIOLATION_CAR_NO AS violationCarNo,
		LAW_BASIS AS lawBasis,
		RESERVE_FIELD5 AS reserveField5,
		PAY_DATE AS payDate,
		AFTER_DUE_TYPE AS afterDueType,
		OBLIGOR_NAME AS obligorName,
		CARD_PAY_YN AS cardPayYn,
		RESERVE_FIELD6 AS reserveField6 FROM TB_VIEW_BILLING_DETAIL WHERE
		elec_Pay_No = #{elecPayNo}
	</select>

</mapper>
